#red{
    color: red;
}
img{
    width: 200px;
    height: 200px;
}
#blue{
    color: blue;
}
#orange{
    color:orange;
}
#grenn{
    color:green;
}
#yellow{
    color: yellow;;
}
.color-title{
    font-weight: normal;
}